<?xml version="1.0" encoding="utf-8"?>
<!-- Explicit -PbleLab=true only. Separate UID/data; real BLE, no Internet. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <application android:allowBackup="false" android:label="VE30 Ensaio"
        android:fullBackupContent="@xml/ble_lab_backup"
        android:dataExtractionRules="@xml/ble_lab_data_extraction"
        tools:replace="android:allowBackup,android:label,android:fullBackupContent,android:dataExtractionRules">
        <activity android:name="com.example.MainActivity" android:label="VE30 Ensaio"
            tools:replace="android:label" />
        <receiver android:name="com.example.data.hband.HBandBootReceiver" android:enabled="false" />
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" tools:node="remove" />
    </application>
</manifest>
